* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: WHITE;
    border: 0.5px solid black;
    size: 16px;
}

html, body {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.5em;
}

.-section {
    flex-grow: 1;
}

.nav-btn {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0.5em;
    height: calc(100% - 1em - 80.8px);
}

.main-journal {
    flex-grow: 1;
}

.main-nav {  
    height: 100%;
}

.main-nav > nav {
    height: inherit;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    list-style-type: none;
}