.dialog {
  align-self: center;
  justify-self: center;
  border: none;
  border: 2px solid black;
  padding: 0.75rem;
  /* crumpled paper */
  width: 60%;
  height: max-content;
  min-height: 10%;
  position: relative;
}

.dialog__close {
  float: right;
  border: none;
  background: none;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.dialog__title {
  text-align: center;
}

.dialog__text {
  text-align: center;
}

.dialog__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 3.5rem;
}

.dialog__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
}

.dialog__buttons > button {
  align-self: center;
  justify-self: center;
  border: none;
  background: white;
  width: 50%;
}

::backdrop {
  background: rgba(80, 80, 80, 0.5);
}
