.main {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0.5em;
  margin-top: 0;
  margin-left: 0;
  height: calc(100% - 1em - 80.8px);
}

.main-container {
  flex-grow: 1;
  background: #816a5c;
  padding: 7px 10px 7px 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 70%;
  border: 2px solid black;
}

.main-journal {
  height: 100%;
  background: #f4eff7;
  border-left: none;
  border-top: none;
  position: relative;
  /* border: 2px solid black; */
  box-shadow: #e3dceb 1px 1px, #d2c6db 2px 2px, #b5a8c0 3px 3px,
    rgba(100, 85, 100, 0.15) 4px 4px, black 1px -1px, black 2px 0px,
    black 3px 1px, black 4px 3px, black -1px 0px, black 0px 1px, black 1px 2px,
    black 2px 3px, black 3px 4px, black -1px -1px;
}

.main-holes {
  display: flex;
  width: 100%;
  height: 100%;
  background: left 10px top 0px / 6% 11% repeat-y
    radial-gradient(circle, #816a5c 8px, black 9px 9px, transparent 9px);
  /* position: x y, / size, amount, repeat direction, circle */
  position: absolute;
}

.main-dashes {
  display: flex;
  width: 100%;
  height: 100%;
  background: left 40px top 0px / 10% 7% repeat-y
    linear-gradient(
      90deg,
      #c19793,
      #c19793 1px,
      transparent 1px,
      transparent 1lh
    );
  /* position: x y, / size, amount, repeat direction, circle */
  position: absolute;
}

.main-journalContainer {
  height: inherit;
  width: 97%;
  background: left 50px top -6px repeating-linear-gradient(#4dadf9, #4dadf9 1px, transparent
        1px, transparent 1lh);
  background-repeat: no-repeat;
  white-space: pre;
  font-size: 1lh;
}

.main-nav {
  height: 70%;
  min-width: 0;
  min-height: 0;
  flex-basis: 3%;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style-type: none;
}

.main-nav li {
  background: red;
  font-size: 0.9rem;

  padding: 2.5px;
  padding-top: 0.75em;
  padding-left: 1.125em;

  position: relative;
  height: 4em;
  width: 1.25em;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px black solid;
  border-left: none;

  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.main-nav li > span {
  display: inline-block;
}

.main-nav li:nth-child(1) {
  background: brown;
  right: 72%;
}

.main-nav li:nth-child(2) {
  background: yellow;
  right: 84%;
}

.main-nav li:nth-child(3) {
  background: purple;
  right: 78%;
}

.main-nav li:nth-child(4) {
  background: blue;
  right: 103%;
}

.main-nav li:nth-child(5) {
  background: gray;
  right: 90%;
}

.main-nav li.-currentNav {
  /* make it so that all the tabs above the current tab also dissapear */
  background: transparent;
  box-shadow: none;
  font-size: 0;
}
