.main__secondary-nav > ul > li,
.main__journal,
.main__primary-nav li {
  border: 2px solid black;
}

.main {
  display: flex;
  flex-flow: wrap row;
  align-content: flex-start;
  margin-right: 0.5em;
  height: 70%;
}

.main__secondary-nav {
  flex: 1 1 100%;
  align-self: flex-start;
  transform: translateY(21%);
}

.main__secondary-nav > ul {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.main__secondary-nav > ul > li {
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  background: red;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main__journal {
  flex-grow: 1;
  border-radius: 0px 20px 20px 0px;
  background: var(--journal-cover);
  padding: 7px 13px 10px 5px;
  height: 93%;
}

.main__journal > article {
  display: none;
}

.main__journal--opened {
  display: block !important; 
}

.main__journal__journal {
  position: relative;
  box-shadow:
    #e3dceb 1px 1px,
    #d2c6db 2px 2px,
    #b5a8c0 3px 3px,
    rgba(100, 85, 100, 0.15) 4px 4px,
    black 1px -1px,
    black 2px 0px,
    black 3px 1px,
    black 4px 3px,
    black -1px 0px,
    black 0px 1px,
    black 1px 2px,
    black 2px 3px,
    black 3px 4px,
    black -1px -1px;
  border-top: none;
  border-left: none;
  background: var(--journal-paper);
  height: 100%;
}

.main__journal__holes {
  display: flex;
  position: absolute;
  background: left 10px top 0px / 6% 11% repeat-y
    radial-gradient(circle, var(--journal-cover) 8px, transparent 9px);
  width: 100%;
  height: 100%;
}

.main__journal__dashes {
  display: flex;
  position: absolute;
  background: 11.5%/1px 100% no-repeat
    repeating-linear-gradient(to bottom, transparent 0 4px, #c19793 4px 8px);
  width: 100%;
  height: 100%;
}

.main__journal__paper {
  margin-right: 3%;
  background: left 41px top -6px
    repeating-linear-gradient(
      transparent 0 21px,
      var(--journal-lines) 1px 1.188lh
    );
  background-repeat: no-repeat;
  padding-left: 15%;
  height: 100%;
  width: 100%;
  font-size: var(--text-m);
  white-space: pre;
}

.main__primary-nav {
  /* min-width: 0; */
  /* min-height: 0; */
  /* flex-basis: 3%; */
}

.main__primary-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  list-style-type: none;
}

.main__primary-nav li {
  position: relative;
  border-left: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: red;

  padding: 2.5px;
  padding-top: 0.75em;
  padding-left: 1.125em;
  width: 1.25em;
  height: 4em;
  font-size: 0.9rem;

  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.main__primary-nav li:nth-child(1) {
  right: 64%;
  background: brown;
}

.main__primary-nav li:nth-child(2) {
  right: 54%;
  background: yellow;
}

.main__primary-nav li:nth-child(3) {
  right: 57%;
  background: purple;
}

.main__primary-nav li:nth-child(4) {
  right: 62%;
  background: blue;
}

.main__primary-nav li:nth-child(5) {
  right: 52%;
  background: gray;
}

.main__primary-nav li.-currentNav {
  box-shadow: none;
  /* make it so that all the tabs above the current tab also dissapear */
  background: transparent;
  font-size: 0;
}
