.playerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5em;
}

.-section {
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
}

.playerInfo-profile {
  /* background: lightblue; blue or pink depending on gender */
  transform: rotate(2deg);
  background: white;
}

.playerInfo-profile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 95%;
  margin-top: 2.5%;
  border: 2px solid black;
}

.playerInfo-profile .profileInfo {
  padding: 5px;
  text-align: center;
}

.playerInfo-profile::before {
  /* red pin */
  content: "";
  height: 10px;
  width: 10px;
  background-color: #bb0a0a;
  border-radius: 50%;
  display: inline-block;
  bottom: 85%;
  left: 45%;
  position: absolute;
  border: 2px solid black;
}

.playerInfo-info {
  background: yellow;
  transform: rotate(-2deg);
  padding: 10px;
}

.playerInfo-stats {
  background: limegreen;
  transform: rotate(1deg);
  padding: 10px;
  font-size: 0.8em;
}

.playerInfo-btn {
  width: 100%;
  border: none;
}